<div class="modal-header">
  <h4 class="modal-title">Product Form</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>

<!-- Edit & Add Form Form template without ngsubmit= method submit form -->
<form [formGroup]="myForm" novalidate>
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" formControlName="ProductName" #ProductName/>
      </div>
      <div *ngIf="myForm.controls['ProductName'].invalid && (myForm.controls['ProductName'].dirty || myForm.controls['ProductName'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['ProductName'].errors.required"> Product name required</div>
      </div>
      <div class="form-group">
        <label for="price">Product Price</label>
        <input type="text" class="form-control" formControlName="ProductPrice" #ProductPrice>
      </div>
      <div *ngIf="myForm.controls['ProductPrice'].invalid && (myForm.controls['ProductPrice'].dirty || myForm.controls['ProductPrice'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['ProductPrice'].errors.required"> Product price required</div>
      </div>
      <div class="form-group">
        <label for="amount">Product Amount</label>
        <input type="text" class="form-control" formControlName="ProductAmount" #ProductAmount>
      </div>
      <div *ngIf="myForm.controls['ProductAmount'].invalid && (myForm.controls['ProductAmount'].dirty || myForm.controls['ProductAmount'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['ProductAmount'].errors.required"> Product amount required</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
