<div class="modal-header">
  <h4 class="modal-title">Therapist Form</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>

<!-- Edit & Add Form Form template without ngsubmit= method submit form -->
<form [formGroup]="myForm" novalidate>
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="name">Therapist Name</label>
        <input type="text" class="form-control" formControlName="TherapistName" #TherapistName/>
      </div>
      <div *ngIf="myForm.controls['TherapistName'].invalid && (myForm.controls['TherapistName'].dirty || myForm.controls['TherapistName'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['TherapistName'].errors.required"> Therapist name required</div>
      </div>
      <div class="form-group">
        <label for="phone_number">Therapist Phone Number</label>
        <input type="text" class="form-control" formControlName="TherapistPhone" #TherapistPhone>
      </div>
      <div *ngIf="myForm.controls['TherapistPhone'].invalid && (myForm.controls['TherapistPhone'].dirty || myForm.controls['TherapistPhone'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['TherapistPhone'].errors.required"> Therapist phone number required</div>
      </div>
      <div class="form-group">
        <label for="ic">Therapist IC</label>
        <input type="text" class="form-control" formControlName="TherapistIc" #TherapistIc>
      </div>
      <div *ngIf="myForm.controls['TherapistIc'].invalid && (myForm.controls['TherapistIc'].dirty || myForm.controls['TherapistIc'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['TherapistIc'].errors.required"> Therapist IC Number required</div>
      </div>
      <div class="form-group">
        <label for="state">Therapist State</label>
        <input type="text" class="form-control" formControlName="TherapistState" #TherapistState>
      </div>
      <div *ngIf="myForm.controls['TherapistState'].invalid && (myForm.controls['TherapistState'].dirty || myForm.controls['TherapistState'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['TherapistState'].errors.required"> Therapist State required</div>
      </div>
      <div class="form-group">
        <label for="city">Therapist City</label>
        <input type="text-area" class="form-control" formControlName="TherapistCity" #TherapistCity>
      </div>
      <div *ngIf="myForm.controls['TherapistCity'].invalid && (myForm.controls['TherapistCity'].dirty || myForm.controls['TherapistCity'].touched)" class="alert alert-danger">
        <div *ngIf="myForm.controls['TherapistCity'].errors.required"> Therapist City required</div>
      </div>
    </div>
    </div>

  <div class="modal-footer">
    <button class="btn btn-success"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
