<div class = "container" >

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>

  <!-- Create product -->
  <!-- event binding to modal form, create and insert data -->
  <button type="button" class="btn btn-outline-primary" (click)="openFormModal()">Create product</button>

  <br><br>

  <!-- Card -->
  <div class="row">
    <div *ngFor='let product of products' class="col-4">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>

          <a [routerLink]="['/products/'+product.id]" class="btn btn-primary">View Detail</a>
        </div>
      </div>
    </div>
  </div>

</div>
