<!--
  file-name: app.component.html
  *****
  The important code for logging-in, signing-up or logging-out, rest code you can manage yourself based on user login/logout scenerio.
  *****
  You can any time check user logging-in/out status in your template using:
  *ngIf="!(authService.user | async)"
-->

<app-header></app-header>
<div>
  <!-- this header tag displays only when user is logged-in -->
  <h1 *ngIf="firebaseService.user | async">
    Welcome User: {{ (firebaseService.user | async)?.email }}!
  </h1>

<!-- this div displays only when user is not-logged-in -->
<div *ngIf="!(firebaseService.user | async)">
      <!-- these input fields takes email and password from user -->
      <input type="text" [(ngModel)]="email" placeholder="Enter email"/>
      <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

      <!-- user click this button to signup -->
      <button (click)="signup()" [disabled]="!email || !password">
        Signup
      </button>

      <!-- user click this button to login -->
      <button (click)="login()" [disabled]="!email || !password">
        Login
      </button>
</div>

  <!-- user click this button to logout -->
  <!-- this button displays only when user is logged-in -->
  <button (click)="logout()" *ngIf="firebaseService.user | async">
    Logout
  </button>
</div>

<router-outlet></router-outlet>
