<p>login-form works! la yalllll</p>
<form class="form" [formGroup]="loginForm">
  <label>Your Email</label>
  <input formControlName="email" type="text"/>
  <label>Your Password</label>
  <input formControlName="password" type="password"/>
  <button (click)="onLogin()">login</button>
  <a routerLink="/register">create a user</a>
</form>
