<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Product </a></li>
    <li class="breadcrumb-item"><a href="#">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
  </ol>
</nav>

<!-- Div Background -->
<!-- <div class="container background"></div> -->

<!-- Div container-->
<div class="container">
  <div class="row">
    <div id="img" class="col-md-5">
      <img src="https://cdn.shopify.com/s/files/1/0746/0577/products/x5_500x.jpg?v=1471594066">
    </div>
    <div id="content"class="col-md-7">
      <p class="newarrival text-center">NEW</p>
      <h2>Product Name</h2>
      <p>Product Code: ISRC2018</p>
      <!-- Amount, sold -->
      <div class="row">
        <div class="col-6">
          <div class="mycontent-left">
            <p class="sold">Sold</p>
          </div>
        </div>
        <div class="col-6">
          <div class="mycontent-right">
            <p class="available">Available</p>
          </div>
        </div>
      </div>
      <p class="price">USD $15.00</p>
      <p><b>Brand: </b>XYZ Company</p>
      <label>Quantity:</label>
      <p>Voucher</p>
      <input type="text" value="1">
      <button type="button" class="btn btn-default cart">Add to cart</button>

      <!-- Button edit update -->
      <button (click)="openFormModal()">Open Modal</button>
    </div>
  </div>
</div>
