#img {
  padding: 5px;
};

#content {
  padding: 5px 5px;
};

// .background {
//   background-color: grey;
// }

.container {
  margin-top: 100px;
}

.newarrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7 h2 {
  color: #555;
}

.rating {
  height: 15px;
}

.price {
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  padding: top 20px;
}

.mycontent-left {
  border-right: 1px dashed #333
}

input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

.cart {
  background: #FE980F;
  color: #ffffff;
  font-size: 15px;
  margin-left: 20px;
}
