<div class = "container">

<!-- event binding to modal form, create and insert data -->
<button type="button" class="btn btn-outline-primary" (click)="openFormModal()">Add therapist</button>

<!-- Table therapist list -->
<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">IC No.</th>
    <th scope="col">State</th>
    <th scope="col">City</th>
    <th scope="col">Date Join</th>
    <th scope="col" colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let therapist of therapists; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
      {{ therapist.name }}
    </td>
    <td>{{ therapist.phone_number}}</td>
    <td>{{ therapist.ic}}</td>
    <td>{{ therapist.state}}</td>
    <td>{{ therapist.city}}</td>
    <td>{{ therapist.date_join | date }}</td>
      <td><button type="button" class="btn btn-outline-warning" (click)="openFormModal()">Edit</button></td>
      <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
  </tr>
  </tbody>
</table>

</div>

<!-- structure admin -->
